- var titleAbout        = 'why aero data management systems';
- var containerImage    = ['./image/about-3.png', './image/about-36.png', './image/about-100.png'];
- var containerTitle    = ['Huge companies', 'Years of experience', 'Сontrol centers and airport systems'];
- var containerText     = ['Aero Data Management Systems (ADMS) is a company created from the human value and experience in systems Civil Aviation, Air Traffic Management and Airports.', 'ADMS is composed of a human staff with 36 years of experience in various companies in the aviation environment.', 'Our staff has created installations and commissioning of over 100 control centers and airport systems worldwide.'];


section.about
    .about-container
        h1= titleAbout

        -for (var val = 0; val < 3; val++)
            div(class='about-block-#{val}')
                img(src=containerImage[val])
                h2= containerTitle[val]
                p= containerText[val]