- var titleSystem = 'AIM/AIS SYSTEMS';
- var textSystem1  = 'ICAO creates a study group (20 March 2008) for the AIS to AIM transition, the Civil Aviation Authorities (CAAs) tries to implement the new AIM concepts.';
- var linkSystem2  = 'http://www.icao.int/safety/ais-aimsg';
- var textSystem3  = 'The expected outputs of the study group will include a global roadmap for the transition from AIS roadmap for the transition from AIS roadmap for the transition from AIS Charts Annex 15 - Aeronautical Information Services; the Aeronautical Information Services Manual (Doc 8126); and the Aeronautical Chart Manual (Doc 8697), and the development of two new manuals related to the AIM quality system and AIM training.';
- var textSystem4  = 'Actually ADMS has experience that almost all CAAs has on planned to do the transition but the actual AIS has on planned to do the transition but the actual doesn"t allow the modular transition.';
- var textSystem5  = 'At the Same time the high percentage of CAAs doesn"t has an implemented electronic AIS Systems';
- var textSystem6  = 'The Scope of ADMS is to offer the newest AIS/AIM System with the latest EUROCONTROL and ICAO recommendations and standards.';


section.system
    .internal-container-bg

    .system-container
        .system-row
            h1= titleSystem
            br
            p= textSystem1
            br
            p= textSystem3
            br
            a(href=linkSystem2) #{linkSystem2}
            br
            br
            p= textSystem4
            br
            p= textSystem6